<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script type="text/javascript" >
  $(document).ready(function(){
    $('.modal').modal();
    if ($('#visited').val() === 'false'){
      $('.modal').modal('open');
    }
    $('#modalBtn').on('click', (e) => {
      $('.modal').modal('open');
    })
  });
</script>
</div>
</body>
