<html lang="en">
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <style>
      body    { padding-top:25px; padding-left: 25px; }
  </style>
</head>
  <% if (username) { %>
    <form method="POST" action="/logout" >
      <input type="submit" value="Logout" />
    </form>
    <h4>Hello <%= username %>, welcome to tinyApp</h4>    
  <% } else { %>
    <form method="POST" action="/login">
      <input type="text" name="username" />
      <input type="submit" value="Login" />
    </form>
  <% } %>
