<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <nav>
   <div class="nav-wrapper">
     <a href="#!" class="brand-logo center ">tinyApp</a>
     <a href="#" data-target="mobile-demo" class="sidenav-trigger">
       <i class="material-icons">menu</i>
     </a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <% if (locals.user !== undefined) { %>
       <li>
         You are logged in as <%= locals.user.email %>
       </li>
       <li>
         <form method="POST" action="/sessions?_method=DELETE" >
           <button class="btn waves-effect waves-light"
             type="submit"
             style="margin: 13px"
             name="action">Logout
           </button>
         </form>
       </li>
       <% } else {  %>
       <li>
         <a href="/users/new" class="btn btn-info">Register</a>
       </li>
       <li>
         <a href="/sessions/new" class="btn btn-info">Login</a>
       </li>
       <% } %>
     </ul>
   </div>
 </nav>

 <ul class="sidenav" id="mobile-demo">
   <% if (locals.user !== undefined) { %>
   <li>
     You are logged in as <%= locals.user.email %>
   </li>
   <li>
     <form method="POST" action="/sessions?_method=DELETE" >
       <button class="btn waves-effect waves-light"
         type="submit"
         style="margin: 13px"
         name="action">Logout
       </button>
     </form>
   </li>
   <% } else {  %>
   <li>
     <a href="/users/new" class="btn btn-info">Register</a>
   </li>
   <li>
     <a href="/sessions/new" class="btn btn-info">Login</a>
   </li>
   <% } %>
 </ul>
  <div class="container" >
