<!-- Intro Modal -->
<div class="modal" id="introModal" >
  <div class="modal-content">
    <h1>Welcome to TinyApp</h1>
    <p>TinyApp is like bit.ly where you can take a long url and
      shorten it to something more legible, then anyone can use
      that shortened url and get redirected to the long url site.
    </p>
    <p>Users are able to login and view how many times their site has been viewed,
      and how many of those views are from unique visitors.
    </p>
    <p>
      Click on the &quot;Register&quot; button to get started!
    </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
  </div>
</div>
<div id="modalBtn" class="fixed-action-btn">
  <a class="btn-floating btn-large red" href="#introModal" >
    <i class="large material-icons">?</i>
  </a>
</div>
