<% include partials/_header %>
<% if (locals.user) { %>
  <h6>You are already logged in!</h6>
  <% include partials/_homeButton %>
<% }else{ %>
 <% include partials/_error %>

  <form method="POST" action="/login">
    <p>Login with existing account here: </p>
    <input type="email" name="userEmail" placeholder="email" />
    <input type="password" name="password" placeholder="password" />
    <input type="submit" value="Login" />
  </form>
<% } %>
