<% include partials/_header %>
<% include partials/_error %>
<% include partials/_intro-modal %>

<h4> Edit URL: </h4>
  <form action="/urls/<%=urlToEdit.id%>" method="POST" style="margin:15px;">
    <p><%=urlToEdit.long_url%></p>
    <input type="text" name="newURL" style="width: 300px" />
    <button class="btn waves-effect waves-light"
      type="submit"
      name="action">Tiny-ify!
    </button>
  </form>
<% include partials/_footer %>
