<% include partials/_header %>
<% include partials/_error %>

<% if (locals.user === undefined){ %>
  <a href="/login" >You must login to view urls.</a>
<% }else{ %>
<% for (let key in user.userUrls){ %>
  <p><%= key %> - <%= user.userUrls[key].longUrl %> </p>
<% }} %>
