<% include partials/_header %>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>Welcome to tinyApp</h1>
        </div>
    </div>
<% include partials/_sidebar %>
</div>
</main>
