<% include partials/_header %>
<% include partials/_error %>
<% if (locals.user === undefined){ %>
  <a href="/login" >You must login to view urls.</a>
<% }else{ %>

<div class="row" style="margin: 25px">
  <form action="/urls" method="POST" >
    <label for="longURL">Enter a URL:</label>
    <input type="text" name="longURL" placeholder="http://" style="width: 300px">
    <button class="btn waves-effect waves-light"
      type="submit"
      name="action">Tiny-ify!
    </button>
  </form>
  </div>
<% } %>

<% include partials/_footer %>
