<% include partials/_header %>
<% include partials/_error %>

<% if (locals.user === undefined){ %>
  <a href="/login" >You must login to view urls.</a>
<% }else{ %>
<% for (let url of urls){ %>
  <% /* const timesVisited = urls[key].visits.length; */ %>
  <% /*cnst uniqueVisitors = urls[key].uniqueVisitors(visitsDB, timesVisited); */ %>
  <a href="/urls/<%=url.id%>">Edit</a>
  <%= url.long_url %>
    <a class="btn btn-primary" href="/u/<%=url.id%>" target="_blank">
      Do the Redirect!
    </a>
<% }} %>
<a href="/urls/new">Create a new Short Link</a>
