<% include partials/_header %>
<% include partials/_homeButton %>
<div style="margin: 5px 5px 5px 5px">
<% for (let key in urls){ %>

  <form method="POST" action="/urls/<%=key%>/delete">
    <input style="margin-left: 5px" type="submit" value="Delete" name="id" /><%=urls[key]%>
  </form>
<% } %>
</div>
